
/* OPERACIONES */
$ancho: 500px;
/* OPERACIONES */

/* NESTING */
 .SeccionPrincipal{
  h3{ color: purple;
    font-size: 40px;
    text-align: center;
 }
 img{
  width: 250px;
    border: 5px solid violet;
    border-radius: 18%;
    margin-top: 30px;
    margin-left: 30px;  }
 }
/* NESTING */


/*HEADER Y LOGO PRINCIPAL */
header{text-align: center;}

.imagen-instagram{
  width: $ancho/6;
  @extend .SeccionPrincipal;  /* USO @EXTEND */
    border-radius: 30%;
    text-align: right;
    }
       
.bg-violet {
    background-color: #d8a1d8; }
  
  .imagen-logo {
    width: 400px;
    border: 8px solid #d8a1d8;
    border-radius: 18%;
    text-align: center;
    }
  
  .gradient:hover {
    cursor: pointer;
    background: linear-gradient(62deg, rgba(93, 251, 244, 0.784751) 25%, rgba(241, 92, 223, 0.770746) 100%); }
   /*HEADER Y LOGO PRINCIPAL */


  /*COLUMNA 1 */
  .bg-blue {
    background-color: lightskyblue; }
  
  .hero1 {
    background-size: cover;
    animation-name: heroAnimate1;
    animation-iteration-count: infinite;
    animation-duration: 16s;
    animation-timing-function: ease-in-out; }
  
  @keyframes heroAnimate1 {
    0% {
      height: 1050px;
      background-image: url("images/perro3.jpg"); }
    25% {
      height: 1070px;
      background-image: url("images/perro.jpg"); }
    50% {
      height: 1080px;
      background-image: url("images/guarderia4.jpg"); }
    75% {
      height: 1090px;
      background-image: url("images/guarderia3_1.jpg"); }
    100% {
      height: 1100px;
      background-image: url("images/guarderia2.jpg"); } }
  /*COLUMNA 1 */

  /*COLUMNA 2 */
  .bg-orange {
    background-color: #ffee00; }
  
    .bb1{
        color:purple;
        font-size: 40px;
        text-align: right;
        }

        .ds{
          width: $ancho/10;
                border: 5px solid violet;
          border-radius: 18%;
          margin-top: 30px;
          margin-left: 30px; 
            border-radius: 30%;
            text-align: right;}
            

  /*COLUMNA 2 */
  
  /*COLUMNA 3 */
  .bg-coral {
    background-color: lightpink; }
     
  .imagen-aside1 {
    width: $ancho/2;
    @extend .SeccionPrincipal; /* USO @EXTEND */
    margin-right: 30px; }
  /*COLUMNA 3 *


  /*FOOTER*/
  .bg-ft {
    background-color: lightsalmon; }

    .imagen-prueba {
        width: 250px;
        margin-left: 2300px;
        border: 8px solid #d8a1d8;
        border-radius: 18%; }

        footer {
            grid-area: footer;
            display: flex;
            justify-content: space-around; } 
  /*FOOTER*/

  $redes: ( /*Declaramos nuestro mapa*/
  twitter: #55acee,
  facebook:  #3a5795,
  send-mail: #C25E30
); 
/*Creamos el bucle para usar los valores del mapa*/
@each $red, $color in $redes {
.btn--#{$red} {
 background-color: $color;
}
}

  
      